.session-container {
    margin: 20px;
}

.chess-board-container {
    display: inline-block;
    border: 1px solid black;
}

.chess-board-piece {
    z-index: 10;
}

.chess-board-row {
    display: flex;
    flex-direction: row;
}

.chess-board-square {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chess-board-black-square {
    background-color: #aaa;
}

.chess-board-active-square {
    background-color: #33cc33;
}

.chess-board-possible-move {
    position: absolute;
    left: 6px;
    top: 6px;
    width: 34px;
    height: 34px;
    border: 2px solid #66bb66;
    border-radius: 20px;
}

.session-info-container {
    margin-top: 20px;
}